.judge-card {
    display: flex;
    // flex-direction: column;
    cursor: pointer;
    height: 100%;
    width: 100%;
    border-radius: 0.5em;
    // margin: 0.6em !important;
    padding: 0.4em;
    border: 1px solid $light-gray;
    transition: 0.2s ease-in-out;
    h6 {
        small {
            float: right;
        }
    }
    p {
        font-size: 0.9rem;
    }
    &:hover {
        transform: scale(1.02);
        transition: 0.2s ease-in-out;
        box-shadow: 6px 5px 5px $gray;
    }
    .judge-img {
        display: flex;
        img {
            border-radius: 50%;
            box-shadow: 4px 3px 3px $gray;
        }
    }
    .judge-content {
        padding: 0.4em;
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            margin-bottom: 0;
        }
    }

    @media only screen and (max-width: 767px) {
        margin: 0.4em;

        .worker-img {
            display: flex;
        }
    }
    a {
        word-break: break-all;
    }
}
