a img {
    width: 100%;
    /* max-height: 100%; */
    max-height: 250px;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    opacity: 0.4;
}

#event a img:hover,
#event a img:hover .centered {
    opacity: 0.15;
    filter: blur(.1px);
    -webkit-filter: blur(.1px);
}

.position-relative {
    position: relative!important;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    /* background-color: white; */
    font-weight: bold;
}

.centered h4 {
    font-weight: 600;
}

.box h3,
.box h4 {
    text-align: left!important
}

article p {
    text-align: justify;
}