.footer {
    /* position: absolute; */
    width: 100%;
    margin-top: auto!important;
    /* bottom: 0; */
    background: var(--bg-alt);
    color: var(--text-alt)!important;
}

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5 {
    color: white!important;
}

.footer .navbar-toggler {
    color: var(--text-alt)!important;
}

.footer .links ul {
    list-style-type: none
}

.footer .links li a {
    color: var(--text-alt);
    transition: color 0.2s
}

.footer .links li a:hover {
    text-decoration: none;
    color: var(--highlight)!important
}

.footer .about-company .i {
    font-size: 25px
}

.footer .about-company .a {
    color: var(--text-alt)!important;
    transition: color 0.2s;
}

.footer .location .i {
    font-size: 18px
}

.list-inline-item a {
    font-size: 1.9rem;
    padding: 0.4rem;
    color: var(--text-alt)!important;
}

.list-inline-item a:hover {
    color: var(--highlight)!important
}

.footer .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1)
}

.location p {
    text-align: end
}

@media (max-width:990px) {
    .location p {
        text-align: center
    }
}